/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 27, 2016, 11:20:10 AM
    Author     : faroak
*/

body{
}
card-design{
    padding: 200px;
}
#right-btn{
    display: inline;
    alignment-adjust: 100px;
}
ul{
    list-style-type: none;
    list-style: none;
}
#card-size{
    padding-bottom: 50px;
    margin-left: 10%;
    margin-right: 15%;
    width: 80%;
        
}
#add-btn{
    width: 50%;
}
#card-login-size{
    margin-top: 5%;
    margin-bottom: 5%;
    padding-bottom: 50px;
    margin-left: 10%;
    margin-right: 15%;
    width: 80%;
}


